flask
flask-socketio
python-socketio
python-engineio
cmake
git+https://github.com/davisking/dlib.git
opencv-python
numpy
Pillow
firebase-admin
cloudinary
requests
python-dotenv
gunicorn
gevent-websocket